{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <title>J@bSearch</title>
     <link rel="icon" type="image/x-icon" href="{% static 'image/ind.png' %}">  
  </head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img style="height:50px;width: 50px;" src="{% static 'image/ind.png' %}">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
       <li class="nav-item active px-3">
        <a class="nav-link" href="#">Home</a>
      </li>
    <li class="nav-item active px-3">
      <a class="nav-link" href="/customer/customer_login/"><span>Salary guide</span></a>
      </li>
      <li class="nav-item active px-3">
        <a class="nav-link" href="/customer/customer_login/"><img src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/profile-52e0dc.svg"width="24" height="24"><span>Login</span></a>
      </li> </ul> 
<form class="form-inline my-2 my-lg-0 ">
      <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search Job , Company name , etc" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Job</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
     <div class="nav-item active px-3">
       <a class="nav-link" href="/login/"><img src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/profile-52e0dc.svg"><span style="color:black;">Recruiter Login</span></a>
  </div>
</div>
</nav>




 <div class="container mt-5">
    <!-- First Section -->
    <div class="row">
      <div class="col-md-6">
        <h2>Section 1</h2>
        <p>This is the content of section 1. You can add any text, images, or other elements here.</p>
      </div>
    </div>

    <!-- Second Section -->
    <div class="col">
      <div class="col">
        <h2>Section 2</h2>
        <p>This is the content of section 2. You can add any text, images, or other elements here.</p>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS (optional, for certain components like modals, dropdowns, etc.) -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>














</body>
</html>